/clinical_txt/*
*.txt
*.pl

mytool/__pycache__/

test.py

test2.py

test_CUI.py

test*.py
80001/

Clinical Note/

80001_old/

Clinical_Note/

text_txt_position.py

for_combine.py

.ipynb_checkpoints/

.vscode/

__pycache__/

Gold_Standard/
